<h2>Students Management</h2>

<p><a class="addbtn" href="/adduser">Add User</a></p>

<table>
    <thead>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Age</td>
        <td>City</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
         <tr>
           <td>{{this.Id}}</td>
            <td>{{this.Name}}</td>
             <td>{{this.Age}}</td>
              <td>{{this.City}}</td>
               <td><a class="edit" href="/edituser/{{this.Id}}">Edit</a> </td>
                <td><a    onclick="return confirm('are you sure ?')" class="delete" href="/deleteuser/{{this.Id}}">Delete</a></td>

         </tr>


      {{/each}}
            

    </tbody>
</table>